@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
  background-image: url(../assets/images/bg-pattern-bottom.svg),
    url(../assets/images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: -50% 200%, 125% -175%;
  width: 100%;
  min-height: 100vh;
}

h3 {
  color: hsl(229, 23%, 23%);
}

.card-bg {
  display: flex;
  flex-direction: column;
}

.bg {
  border-radius: 15px 15px 0 0;
}

.profile-pic {
  padding-top: 90px;
}

.profile-pic img {
  border: 4px solid #fff;
  border-radius: 50px;
}

.container {
  box-shadow: -11px 6px 45px -15px hsl(229, 23%, 23%);
  border-radius: 15px;
}

.container-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 375px;
  background-image: url(../assets/images/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 15px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 15px;
}

span {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

#location {
  margin: 10px 5px 5px 5px;
  font-size: 14px;
  color: hsl(0, 0%, 59%);
}

.numbers {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border-top: 1px solid rgba(150, 150, 150, 0.2);
  text-align: center;
  padding-top: 15px;
}

.numbers-child p {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
}

.numbers-child h4 {
  color: hsl(229, 23%, 23%);
}
